.subpage{
    margin:auto;
    height:90%;
    margin-top:20px;
    width:80vw;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.subpage__title{
    font-size:1.5rem;
    font-weight:400;
    padding:20px;
    border-bottom: 1px solid lightgrey;

}

.subpage__body{
    margin-top: 20px;
    margin-left: 20px;
}

.subpage__footer{
    margin-top: 20px;
    margin-left: 20px;
   
}

.subpage__subtitle{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 20px 20px 20px 0;
}

